body,
html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.container {
  height: 100%;
  padding: 2% 4%;
}

.alert {
  padding: 10px;
  background-color: lightgreen;
  opacity: 0.7;
  color: green;
  margin-bottom: 1%;
}

.alertError {
  padding: 10px;
  background-color: lightcoral;
  opacity: 0.7;
  color: red;
  margin-bottom: 1%;
}

.bookEntry {
  display: flex;
  border: 1px lightgray solid;
  border-radius: 4px;
  margin-top: 1%;
  background: #f7f9fa;
  padding: 8px 16px;
  flex-direction: column;
}

ul {
  list-style: none;
  padding-bottom: 20px;
  border-bottom: 1px lightgray solid;
}

li + li {
  margin-top: 16px;
}

label {
  display: inline-block;
  font-size: 14px;
  width: 80px;
  padding-right: 10px;
  text-align: right;
}

label.required::after {
  content: "*";
  margin-right: 4px;
  color: red;
}

input {
  font-size: 20px;
  border: 1px lightgray solid;
  border-radius: 2px;
  outline: none;
}

select,
input.button {
  background: #5252e7;
  color: white;
  padding: 6px 12px;
  width: 100px;
  font-size: 16px;
  box-shadow: 0px -1px 2px 0 #065881 inset, 0px 1px -1px 1px #ccc;
  border-radius: 6px;
  outline: none;
  overflow: hidden;
}

select:hover {
  min-width: 100px;
  width: auto;
}

.button:active {
  background: #0b94d9;
}

.addEntryButton {
  margin-left: 135px;
}

.listBooks {
  border: 1px lightgray solid;
  border-radius: 4px;
  margin-top: 1%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  border: 1px lightgray solid;
  padding: 8px;
}

td {
  padding: 10px;
  border: 1px lightgray solid;
}

thead th:first-child {
  border-left: 0;
}

thead th:last-child {
  border-right: 0;
}

.td-first {
  border-left: 0;
}

tbody tr td:last-child {
  border-right: 0;
}

tbody tr:last-child td {
  border-bottom: 0;
}

.btn {
  height: 30px;
  width: 37px;
}

.editIcon {
  background: url("/images/save.png");
}

.deleteIcon {
  background: url("/images/bin.png");
}

.editIcon,
.deleteIcon,
.saveIcon {
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  display: block;
}

.inputTable {
  outline: none;
  border: none;
}

